td{
    border: 2px solid black !important;
}
.main{
    margin-bottom: 20px;
}
.Col{
    margin: 0px;
}
.title{
    margin-bottom: 35px;
    text-align: center;
}
.bttn{
    margin-top: 25px;
    display: flex;
}
.btn{
    background-color: #d6eebe;
    color: #272727;
    border: none;
    font-size: 16px;
    padding: 8px 24px;
    margin-right: 10px;
}
.bn{
    background-color: #f4f4f4;
    color: #272727;
    border: none;
    font-size: 16px;
    padding: 8px 24px;
    margin-left: 5px;
}